<div class="container">
<a href="/view_all_notes">View All Notes</a>
    <h3>Let's write a note!</h3>
    <form action='/send_note'
    method='post'>
      <p><input type='text' placeholder='Title' name='title'></p>
      <p><textarea rows='4' cols='50' name='content' placeholder='Note Content'></textarea></p>
      <p><input type='submit' value='Create Note'></p>
    </form>

</div>
